<h1 align="center">Articles List</h1>
<!--<p><%= link_to "Create New Article" ,new_article_path %></p>-->

  <!--<tr>
    <th>Title</th>
    <th>Description</th>
  </tr>-->
  
<div align="center">
  <%= will_paginate %>
</div>
  
<%= render 'article' , obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>